<div class="container sm-100">
    <div>
        <h1 class="display-3">Hey <%= resetPassToken.user.name %> </p>
        <br>
        <br>
        <p>Click on the link below to reset ur password</p>
        <a href="http://13.233.229.223/users/reset_pass/<%= resetPassToken.token %>">RESET PASS</a>
        <br>
        <br>
        <p>Thanks!</p>
    </div>
    
</div>